<!-- <h1>Hi <%= name %></h1>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
  </form>

  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Janken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ch4/style.css">
</head>

<body>
    <div class="Mulai">
        <div class="Judul">
            <p>ROCK PAPER SCISSORS</p>
            <h1></h1>
        </div>
        <div class="logo">
            <img src="/images/chapter-4/logo.png" >
        </div>
        <div class="LogoLebihKecil" onClick="LogoLebihKecil()">
            <h1 ><</h1>
        </div>
    </div>

    <div class="Pemain">
        <p>PLAYER 1</p>
        <h1>COM</h1>
    </div>

    
    <div class="area-komputer">
        <div id="batuCom">
            <img src="/images/chapter-4/batu.png" class="batuCom">
        </div>
        <div id="kertasCom">
            <img src="/images/chapter-4/kertas.png" class="kertasCom">
        </div>
        <div id="guntingCom">
            <img src="/images/chapter-4/gunting.png" class="guntingCom">
        </div>
    </div>
   


    <div class="info">
        <img src="/images/chapter-4/ss.png" class="ss">
    </div>


    <div class="area-player">
        <ul>
            <li id="batuUser" onclick="pilihanUser(0)">
                <img src="/images/chapter-4/kertas.png" class="batuUser">
            </li>
            <li id="kertasUser" onclick="pilihanUser(1)">
                <img src="/images/chapter-4/kertas.png" class="kertasUser">
            </li>
            <li id="guntingUser" onclick="pilihanUser(2)">
                <img src="/images/chapter-4/gunting2.png" class="guntingUser">
            </li>
        </ul>
    </div>

    <div class="Button">
        <div type="" onClick="refreshPage()">
            <img src="/images/chapter-4/refresh 2.svg" />
        </div>
    </div>
    </div>
</body>
<script src="/javascripts/ch4/index.js"></script>

</html> -->



<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Hello, world!</title>
</head>

<body>

    <!-- START: SECTION HERO -->
    <section class="intro">

        <!-- START: NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container text-uppercase">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        <a class="nav-link" href="#">Work</a>
                        <a class="nav-link" href="#">Contact</a>
                        <a class="nav-link" href="#">About Me</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-link" href="/register">Sign Up</a>
                        <a class="nav-link" href="/login">Login</a>
                    </div>
                </div>
            </div>
            <!-- <a href="/login">Login</a> -->
        </nav>
        <!-- END: NAVBAR -->

        <div class="hero">
            <div class="container text-center">
                <h1>Play traditional game</h1>
                <p>Experience new traditional game play</p>
                <a href="/game">
                    <button type="button" class="btn btn-warning">play now</button>
                </a>
            </div>
        </div>

        <div class="the-story">
            <h3 class="text-uppercase">the story</h3>
            <img src="/images/chapter-3/svg/scroll-down.svg" alt="">
        </div>

    </section>
    <!-- END: SECTION HERO -->

    <!-- START: SECTION DADU -->
    <section class="MULAI">

        <div class="SATU">
            <div class="container">
                <h1>What's so special?</h1>
                <p>THE GAMES</p>
            </div>
            <div class="GUNTING">
                <img alt="" src="/images/chapter-3/images/rockpaperstrategy-1600.jpg">
            </div>
            <div class="PANAH-KIRI">
                <img src="/images/chapter-3/svg/PANAH-KIRI.svg" alt="">
            </div>
            <div class="PANAH-KANAN">
                <img src="/images/chapter-3/svg/PANAH-KANAN.svg" alt="">
            </div>
            <div class="BULET1">
                <img src="/images/chapter-3/svg/screenshot 1.svg" alt="">
            </div>
            <div class="BULET2">
                <img src="/images/chapter-3/svg/screenshot 2.svg" alt="">
            </div>
            <div class="BULET3">
                <img src="/images/chapter-3/svg/screenshot 3.svg" alt="">
            </div>
            <div class="BULET4">
                <img src="/images/chapter-3/svg/screenshot 4.svg" alt="">
            </div>
            <div class="BULET5">
                <img src="/images/chapter-3/svg/screenshot 4.svg" alt="">
            </div>
        </div>
    </section>
    <!-- END: SECTION DADU -->
</body>

</html>

<!-- START: SECTION KARTU -->
<section class="ORANG">

    <div class="angka">
        <div class="DUA">
            <h1>What's so special?</h1>
            <p>FEATURES</p>
        </div>
        <div class="TIGA">
            <h1>TRADITIONAL GAME</h1>
            <h2>if you miss your childhood, we provide </h2>
            <p>many traditional games </p>
        </div>
        <div class="EMPAT">
            <h1>GAME SUIT</h1>
        </div>
        <div class="LIMA">
            <h1>TBD</h1>
        </div>
        <div class="button1">
            <img src="/images/chapter-3/svg/screenshot 11.svg" alt="">
        </div>
        <div class="button2">
            <img src="/images/chapter-3/svg/screenshot 22.svg" alt="">
        </div>
        <div class="button3">
            <img src="/images/chapter-3/svg/screenshot 33.svg" alt="">
        </div>
        <div class="bar">
            <img src="/images/chapter-3/svg/progress bar.svg" alt="">
        </div>
    </div>
</section>


<!-- END: SECTION KARTU -->

</body>

</html>

<!-- START: SECTION EMPAT -->
<section class="rumah">

    <div class="system">
        <div class="computer">
            <h1></h1>
            <p>Can My Computer Run this game?</p>
        </div>
        <div class="system-requirements">
            <h1>SYSTEM REQUIREMENTS</h1>
            <p></p>
        </div>
        <div class="oprating-system">
            <h1>OS</h1>
            <p>Windows 7 64-bit only (No OSX support at this time)</p>
        </div>
        <div class="procesor">
            <h1>PROCESOR</h1>
            <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
        </div>
        <div class="memory">
            <h1>MEMORY:</h1>
            <p>4 GB RAM</p>
        </div>
        <div class="storage">
            <h1>STORAGE:</h1>
            <p>8 GB available space</p>
        </div>
        <div class="graphics">
            <h1>GRAPHICS:</h1>
            <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
        </div>
        <div class="vector-2">
            <img src="/images/chapter-3/svg/Vector 2.svg" alt="">
        </div>
        <div class="vector-3">
            <img src="/images/chapter-3/svg/Vector 3.svg" alt="">
        </div>
        <div class="vector-33">
            <img src="/images/chapter-3/svg/screenshot 33.svg" alt="">
        </div>
        <div class="vector-5">
            <img src="/images/chapter-3/svg/Vector 5.svg" alt="">
        </div>
    </div>
</section>
<!-- END: SECTION EMPAT -->

</body>

</html>


<!-- START: SECTION LIMA -->
<section class="top">
    <div class="top-scores">
        <div class="image3">
            <img src="/images/chapter-3/images/top-score-bg.png" alt="">
        </div>
        <div class="top-lima">
            <h1>TOP SCORES</h1>
            <p>This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning">see more</button>
        </div>
        <div class="rectangle-1">
            <img src="/images/chapter-3/svg/Rectangle 21.svg" alt="">
        </div>
        <div class="rectangle-2">
            <img src="/images/chapter-3/svg/Rectangle 21.svg" alt="">
        </div>
        <div class="rectangle-3">
            <img src="/images/chapter-3/svg/Rectangle 21.svg" alt="">
        </div>
        <div class="ellipse">
            <img src="/images/chapter-3/svg/Ellipse.svg" alt="">
        </div>
        <div class="evan-lahti">
            <img src="/images/chapter-3/images/evan-lahti.jpg" style="border-radius: 50%" alt="">
        </div>
        <div class="ellipse1">
            <img src="/images/chapter-3/svg/Ellipse.svg" alt="">
        </div>
        <div class="jada">
            <img src="/images/chapter-3/images/jada-griffin.jpg" style="border-radius: 50%" alt="">
        </div>
        <div class="ellipse2">
            <img src="/images/chapter-3/svg/Ellipse.svg" alt="">
        </div>
        <div class="aaron">
            <img src="/images/chapter-3/images/image.png" style="border-radius: 50%" alt="">
        </div>
        <div class="twitter1">
            <img src="/images/chapter-3/svg/twitter.svg" alt="">
        </div>
        <div class="twitter2">
            <img src="images/chapter-3/svg/twitter.svg" alt="">
        </div>
        <div class="twitter3">
            <img src="/images/chapter-3/svg/twitter.svg" alt="">
        </div>
        <div class="status-evan">
            <h1>Evan Lahti</h1>
            <p>PC Gamer</p>
        </div>
        <div class="status-jeda">
            <h1>Jada Griffin </h1>
            <p>Nerdreactor</p>
        </div>
        <div class="status-aaron">
            <h1>Aaron Williams  </h1>
            <p>Uproxx</p>
        </div>
        <div class="status-evan-twitter">
            <h1>“One of my gaming highlights of the year.”</h1>
            <p>June 18, 2021</p>
        </div>
        <div class="status-jeda-twitter">
            <h1>“The next big thing in the world of streaming and survival games.”
            </h1>
            <p>July 10, 2021</p>
        </div>
        <div class="status-aaron-twitter">
            <h1>“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</h1>
            <p>December 24, 2018</p>
        </div>
    </div>
</section>
<!-- END: SECTION EMPAT -->

</body>

</html>

<!-- START: SECTION ENAM -->
<section class="newsletter">
    <div class="newsletter-subscribe">
        <div class="patung">
            <img src="/images/chapter-3/images/patung-tengkorak.JPG" alt="">
        </div>
        <div class="pembukaan">
            <h1>Want to stay in touch?</h1>
            <p></p>
        </div>
        <div class="isi-1">
            <h1>NEWSLETTER SUBSCRIBE </h1>
            <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
            <button type="button" class="btn btn-warning">Subscribe now</button>
        </div>
        <div class="kotak">
            <img src="/images/chapter-3/svg/Rectangle 5.svg" alt="">
        </div>
        <div class="email">
            <h1>Your email address</h1>
            <p>youremail@binar.co,id</p>
        </div>
        <div class="border">
            <img src="//images/chapter-3/svg/border.svg" alt="">
        </div>
        <div class="facebook">
            <img src="/images/chapter-3/svg/facebook.svg" alt="">
        </div>
        <div class="lambang-twitter">
            <img src="/images/chapter-3/svg/twitter.svg" alt="">
        </div>
        <div class="youtube">
            <img src="/images/chapter-3/svg/Vector.svg" alt="">
        </div>
        <div class="panah">
            <img src="/images/chapter-3/svg/Rectangle 9.svg" alt="">
        </div>
        <div class="Line">
            <img src="/images/chapter-3/svg/Line.svg" alt="">
        </div>
        <div class="twitch">
            <img src="/images/chapter-3/svg/twitch.svg" alt="">
        </div>
        <div class="keterangan">
            <h1>MAIN</h1>
            <h2>about</h2>
            <h3>game features</h3>
            <h4>System requirements</h4>
            <h5>quotes</h5>
        </div>
        <div class="kredit">
            <h1> © 2018 Your Games, Inc. All Rights Reserved</h1>
        </div>
        <div class="policy">
            <h1> Privacy Policy | Terms of Services | Code of Conduct </h1>
        </div>
    </div>
</section>
<!-- END: SECTION EMPAT -->

</body>

</html>